<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Patria</title>
</head>
<style>
    body {
        font-family: 'Open Sans', sans-serif;
        padding: 20px;
        background-color: rgb(28, 24, 29);
        color: white;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: #181717;
        text-align: center;
        background-color: rgb(28, 24, 29);
        color: white;
    }

    label {
        font-weight: bold;
        text-align: center;
        
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        background-color: rgb(63, 54, 65);
        color: white;
    }

    button[type="submit"], [type="button"] {
        width: 50%;
        background-color: #441356;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 8px;
    }

    button[type="submit"]:hover, [type="button"]:hover {
        transition-duration: 0.5s;
        background-color: #8c3bc2;
    }
</style>
<body>
    <%- include('partials/header.ejs') %>
    <form action="/recibo" method="post" id="recibo">
        <label for="numero">Número de Docente:</label>
        <input type="number" id="numero" name="numero" required>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required>

        <label for="nivel">Nivel:</label>
        <select id="nivel" name="nivel" required>
            <option value="1">Licenciatura o Ingeniería</option>
            <option value="2">Maestro en Ciencias</option>
            <option value="3">Doctor</option>
        </select>

        <label for="pagoHoraBase">Pago base por hora impartida:</label>
        <input type="number" id="pagoHoraBase" name="pagoHoraBase" step="0.01" required>

        <label for="horas">Horas impartidas:</label>
        <input type="number" id="horas" name="horas" required>

        <label for="numHijos">Cantidad de hijos:</label>
        <select id="numHijos" name="numHijos" required>
            <option value="0">1 o 2 Hijos</option>
            <option value="1">2 a 5 Hijos</option>
            <option value="2">Mas de 5 Hijos</option>
        </select>

        <button type="submit">Calcular Recibo</button>
        <button type="button" onclick="limpiar()">Limpiar</button>
    </form>

    <%- include('partials/footer.ejs') %> 
</body>
    <script>
        function limpiar() {
            document.getElementById("recibo").reset();
        }
    </script>


</html>

