<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Detalles de Pago</title>
</head>

<style>
  body {
      font-family: 'Open Sans', sans-serif;
      padding: 20px;
      background-color: rgb(28, 24, 29);
      color: white;
  }

  h1 {
      text-align: center;
      margin-bottom: 30px;
  }

  div {
      max-width: 500px;
      margin: 0 auto;
      border-style: groove;
      border-color: rgb(68, 68, 68);
      padding: 20px;
      border-radius: 10px;
      background-color: rgb(54, 45, 55);
      text-align: center;
  }

  label {
      width: 75%;
      border-style: double;
      border-color: black;
      border-radius: 5px;
      background-color: rgb(92, 77, 94);
  }

  h3, h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
</style>
<body>
  <div>
  <% if (isPost) { %>
    <h2>Recibo de Pago del Docente</h2>
    <div>
    <label>Número de Docente: <%= numero %></label><br>
    <label>Nombre: <%= nombre %></label><br>
    <label>Domicilio: <%= domicilio %></label><br>
    <label>Nivel: <%= nivel %></label><br>
    <label>Pago por hora base: <%= pagoHoraBase %></label><br>
    <label>Horas impartidas: <%= horas %></label><br>
    <label>Cantidad de hijos: <%= numHijos %></label>
  </div>
    <h2>Detalles de Pago</h2>
    <div>
    <label>Pago por horas impartidas: $<%= pagoPorHoras.toFixed(2) %></label><br>
    <label>Bono por hijos: $<%= bono.toFixed(2) %></label><br>
    <label>Impuesto retenido: $<%= impuesto.toFixed(2) %></label>
    <br>
    <h3>Total a pagar: $<%= totalAPagar.toFixed(2) %></h3>
  </div>
    <% } else { %>
      <p>Ingrese los detalles del docente para calcular el recibo de pago.</p>
    <% } %>
  </div>
  </body>
  
</html>